/*
Display
*/
#nav_accesskeys table {/* Stop caption from wrapping */
	width : 100%
}
#nav_accesskeys thead {/* Hide heading */
	display : none
}
#nav_accesskeys tr {/* Compact display of rows */
	display : inline-block
}
/*
Margins and padding
*/