blockquote,
figure {
  display : table /* Shrink element to the size of it’s contents and enable the table caption display options */
}
figcaption,
blockquote>footer {
  display : table-caption; /* Confine caption to parent */
  caption-side : bottom /* Move the caption to the bottoms of the content */
}
object {
	display : block
}
h1 ~ ol > li {
	display : block /* Remove numbering from article summary list */
}
:matches(footer, header) :matches(dt, dd, li) {
display : inline
}
[role=navigation] li {
	display : inline-block /* “inline-block” rather than “inline” so that the navigation links don’t break over lines */
}