<table id="accesskeys">
	<caption>This page makes use of the following <code>accesskey</code> shortcuts:</caption>
	<thead>
		<tr>
			<th>Location</th>
			<th>Access Key</th>
		</tr>
	</thead>
	<tbody>
	<% unless current_page.path == 'index.xhtml' %>
		<tr>
			<th>Home</th>
			<td><code>1</code></td>
		</tr>
	<% end %>
		<tr>
			<th>Licence</th>
			<td><code>5</code></td>
		</tr>
		<tr>
			<th>Copyright</th>
			<td><code>6</code></td>
		</tr>
		<tr>
			<th>Access Keys</th>
			<td><code>k</code></td>
		</tr>
	<% if current_article %>
		<% if current_article.previous_article %>
		<tr>
			<th>Previous article</th>
			<td><code>p</code></td>
		</tr>
		<% end %>
	<% end %>
	<% if current_article %>
		<% if current_article.next_article %>
		<tr>
			<th>Next article</th>
			<td><code>n</code></td>
		</tr>
		<% end %>
	<% end %>
	</tbody>
</table>