---
layout: page
---

<% case page_type
     when 'day'
    date = Date.new(year, month, day).strftime('%b %e %Y')
     when 'month'
    date = Date.new(year, month, 1).strftime('%b %Y')
     when 'year'
    date = year
    date = date.to_s
 end %>
<% @title = 'Archive for ‘' + date + '’—' %>
<h1 property="dcterms:title">Archive for <em><%= date %></em></h1>
<p property="dcterms:description">Summaries of all articles dated <em><%= date %></em> from newest to oldest:</p>
<%= partial 'layouts/partials/article_lists' %>