---
pageable: true
---
<% case page_type
     when 'day'
    date = Date.new(year, month, day).strftime('%b %e %Y')
     when 'month'
    date = Date.new(year, month, 1).strftime('%b %Y')
     when 'year'
    date = year
    date = date.to_s
 end %>
<% @title = 'Archive for ‘' + date + '’' %>
<h1>Archive for <em><%= date %></em></h1>
<p>A list of the summaries of all articles dated to <em><%= date %></em>.</p>
<%= partial 'layouts/partials/article-summaries' %>