---
layout: page
---

<% @title = 'Articles tagged with ‘' + tagname +'’' %>
<h1 property="dc:title">Articles tagged <em><%= tagname %></em></h1>
<p property="dc:description">Summaries of all articles tagged <em><%= tagname %></em> from newest to oldest:</p>
<%= partial 'layouts/partials/article_lists' %>